<h1>Play our Awesome Rock/Paper/Scissors game with the Computer!</h1>

<p>Find out if you can beat the computer</p>

<form action ='/detector' method='get'>
  <div class="form-group">
    <label for="userinput">User Input</lable>
    <input id="userinput" name="userinput" class="form-contol" type="text">
  </div>

  <button type="submit" class="btn btn-info">Start Playing</button>
</form>
